.container{
    background-image: url(./bg.png);
    width: 1440px;
    height: 920px;
    color: #fff;
    font-family: 'Montserrat','sans-serif';
}
.navbar{
    display: flex;
    background-color: #000000;
}
.list{
    display: flex;
    list-style-type: none;
    
}
.list-item{
   margin: 10px;
   margin-left: 50px;
}
.logo{
    margin-top: 25px;
    width: 80px;
    margin-left: 70px; 
}
.line{
    border-left: 1px solid white;
    height: 40px;
    margin-left: 80px;
    margin-top: 15px;
}

.button-small{
    margin-left: 330px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 22px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    background-color: #de1dd7;
    color: #fff;
    font-weight: bold;
}

.hero{
    margin-top: 120px;
    margin-left: 10px;
}
    .hero-heading{
    text-align: center;
    font-size: 70px;
    width: 1000px;
    margin-left: 210px;
    margin-top: 100px;
}
.hero-description{
    text-align: center;
    font-size: 25px;
    width: 1000px;
    margin-left: 210px;
    position: relative;
    bottom: 50px;
    font-family: poppins;
}
.button-large{
    margin-left: 550px;
    padding: 20px;
    width: 330px;
    border-radius: 5px;
    background-color: #de1dd7;
    border: 1px solid #de1dd7;
    color:#fff;
    font-size: 25px;
    font-weight: bold;

}