*{
    margin: 0;
    padding: 0;
    background-color: #f9f5ed;
    box-sizing: border-box;
    font-family: poppins;
}
nav{
    height: 15vh;
    padding: 20px 10%;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 5%;
    list-style-type: none;
    font-weight: 600;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.left{
    margin-left: 20px;
    margin-top: 120px;
}
.left h1{
    font-size: 65px;
    width: 60%;
}
.left p{
    margin:25px 0;
}
.left button{
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    background-color: #3b855b;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.right{
    width: 40%;
    margin-top: 80px;
    margin-right: 10px;
}
.upper{
    margin-bottom: 20px;
}
.img{
    margin-right: 20px;
}