*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    max-width: 1440px;
    background-color: #F0F4F5;
    margin: auto;
    overflow: hidden;
}
nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}
nav ul li:first-child{
    color: #1FAA59;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
main section {
    width: 50%;
}
.left{
    margin-left: 5%;
    position: relative;
}
.topangle{
    width: 25px;
}
.left h1{
    font-size: 70px;
}
.left p {
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}
.bottomangle{
    width: 25px;
    position: absolute;
    right: 25px;
}
.stethoscope{
    position: absolute;
    width: 90%;
    top: -80px;
    right: -150px;
    z-index: -1;
}
.mouse{
    position: absolute;
    right: -30px;
    bottom :15px;
    width: 30px;
}
button{
    color: white;
    background-color: #1FAA59;
    padding: 15px 40px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
    font-weight: 600;
}
.green,.yellow{
    position: absolute;
    right: 0;
}
.green{
    width: 33%;
    bottom: 60px;
    right: 25px;
}
.yellow{
    width: 30%;
    bottom: 50px;
}
.doctor{
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 90%;
}